.card-img-top {
  height: 50%;
  object-fit: contain;

  margin-top: 10px;
}

.card {
  margin: 0.5em;
}

.row {
  padding: 1em;
}

.card {
  position: relative;
  height: 300px;
  margin: 10px;
}

.card button {
  background: #133955;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.mainPics {
  height: 400px;
}
